<div class="modal fade" id="modalHealth" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="about">Hive Health</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Temperature: average <p class='avg0 inline'>--</p>, target <p class='tempPref inline'>--</p><br>
        Humidity: average <p class='avg1 inline'>--</p>, target <p class='humPref inline'>--</p><br>
        Weight: average <p class='avg2 inline'>--</p>, target <p class='wtPref inline'>--</p><br>
        Number of bees: average <p class='avg3 inline'>--</p>, target <p class='beePref inline'>--</p><br>
<!--         <div id='healthIndicator'></div>
        <div id='indicator'>no data</div> -->
        <div id='healthChart'>
          <div class='teardropMain teardropTopLeft'>
            <div id='indic0' class='teardropTopLeft teardropDynamic' style='right:0; bottom:0'></div>
          </div>
          <div class='teardropMain teardropTopRight' style='margin-left:-10px'>
            <div id='indic1' class='teardropTopRight teardropDynamic' style='left:0; bottom:0'></div>
          </div><br>
          <div class='teardropMain teardropBottomLeft' style='margin-top: -5px'>
            <div id='indic2' class='teardropBottomLeft teardropDynamic' style='right:0; top:0'></div>
          </div>
          <div class='teardropMain teardropBottomRight' style='margin-left:-10px; margin-top: -5px'>
            <div id='indic3' class='teardropBottomRight teardropDynamic' style='left:0; top:0'></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>