<div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="about">About</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        Welcome to project Beetches, an open-source connected beehive meant to improve the daily lives of beekeepers as well as bees.
        <h4>First of all, what is a connected beehive?</h4>
        It is actually more of a connected sensor kit than a connected beehive. It is a device containing a scale and other sensors to be put under a beehive in order to gather the most data possible about the hive. This includes the weight of the beehive, the outside/inside temperature or humidity, the number of bees going in and out of the hive, etc...<br>
        All of this data is then sent on a platform accessible to both beekeepers and researchers, allowing beekeepers to monitor their hives' well being, and researchers to gather more data about bees.
        <h4>Why is it needed?</h4>
        Bee population has been decreasing a lot during the last decade, and scientists have been trying to find out the causes of this decline. Gathering data about bees in different places is the only way for researchers to find precise causes for this.
        We, the « beetches », want to connect beekeepers and researchers as much as we can, by creating this platform accessible by both, and maybe by citizens as well. All of our plans and access to the servers will be open-source and therebye accessible to everyone.
        <h4>Why does Rebecca suck?</h4>
        Cause she a stinking hoe, with her STD-infected ass, such a thot. #Rebeccathethot
        </p>
        <p>Check out our github <a href='https://github.com/rweinberger/beesearch' target='_blank'>here</a>.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>