<div id='nums'></div>
<div id='state'>Disconnected</div>
<div id="chartContainer" style="height: 300px; width:100%;"></div>

<script src='/scripts/modal-result.js' sensor={{title}}></script>
<!-- <img src='/images/line_graph.png'/> -->