<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id='hexagons'>
    <div id='hex1' class='hexagon l'><img class='hex-img' src='/images/thermometer.png'/></div>
    <div id='hex2' class='hexagon r'><img class='hex-img' src='/images/humidity.png'/></div>
    <div id='hex3' class='hexagon l'><img class='hex-img' src='/images/weight-balance.png'/></div>
    <div id='hex4' class='hexagon r'><img class='hex-img' src='/images/wifi-signal-waves.png'/></div>
    <div id='hex5' class='hexagon l'><img class='hex-img' src='/images/bee.png'/></div>
  </div>
</body>

</html>
