{{>head}}
<!-- <div id='push'>push</div>
<div id='pull'>pull</div> -->

<textarea id='num' rows='1' cols='10' placeholder="number"></textarea>
<br><button id='push'>submit</button>

<script src="/scripts/push.js"></script>