{{>head}}
<!-- <div id='push'>push</div>
<div id='pull'>pull</div> -->

<select id='sensors'>
  <option value="temp">temperature</option>
  <option value="hum">humidity</option>
  <option value="wt">weight</option>
  <option value="bee">bee counter</option>
</select>

<input type='number' id='num'></input>
<br><button id='push' type='submit'>submit</button>

<script src="/scripts/push.js"></script>