{{>head}}
<!-- <div id='push'>push</div>
<div id='pull'>pull</div> -->

<!-- <select id='sensors'>
  <option value="temp">temperature</option>
  <option value="hum">humidity</option>
  <option value="wt">weight</option>
  <option value="bee">bee counter</option>
</select> -->
temp
<input class='num' type='number' id='tempInput'></input><br>
hum
<input class='num' type='number' id='humInput'></input><br>
wt
<input class='num' type='number' id='wtInput'></input><br>
bee
<input class='num' type='number' id='beeInput'></input><br>
<br><button id='push' type='submit'>submit</button>

<script src="/scripts/push.js"></script>