/*******************************/
/*********--GENERAL--***********/
/*******************************/

body {
  background-color: #535353;
  /*background-image: url('/images/bg.jpg');*/
  font: 14px Monospace;
}

a {
  font-weight: bold;
  color: black;
}

a:hover{
  color: black;
  opacity: 0.6;
}

hr{
  border:none;
  border-top: solid 1px #696969;
}

/*******************************/
/*********--HEXAGONS--**********/
/*******************************/

.hexagon {
  z-index: 1;
  position: relative;
  width: 150px; 
  height: 86.60px;
  opacity: 1;
  background-color: #f9c700;
  margin: 55px 0;
  box-shadow: 0 0 50px rgba(0,0,0,.8);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.9670px;
  box-shadow: 0 0 50px rgba(0,0,0,.8);
}

.hexagon:before {
  top: -53.0330px;
}

.hexagon:after {
  bottom: -53.0330px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:150px;
  height:86.6025px;
  z-index: 2;
  background: inherit;
}

.hexagon:hover {
  /*opacity: .5;*/
  cursor: pointer
}

.smallHex {
  z-index: -1;
  position: relative;
  width: 120px; 
  height: 69.28px;
  background-color: #dc7613;
  margin: 34.64px 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  left: 15px;
  top: -273px;
}

.smallHex:before,
.smallHex:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 84.85px;
  height: 84.85px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 17.5736px;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

.smallHex:before {
  top: -42.4264px;
}

.smallHex:after {
  bottom: -42.4264px;
}

/*cover up extra shadows*/
.smallHex span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:120px;
  height:69.2820px;
  z-index: 2;
  background: inherit;
}

.smallHex:hover {
  cursor:pointer;
}


#hexagons {
  width: 150px;
  margin:auto;
  margin-top: 170px;
}

#hex-text{
  position: absolute;
  text-align: center;
  width: 150px;
  color: #fce58a;
  font-weight:100;
  font-size: 12pt;
  top: 345px;
  display: none;
}

.zero {
  margin-left:-81px;
}

.one{
  margin-left:81px;
  margin-top:-141px;
}

.two{
  margin-left:-163px;
}

.three{
  margin-left:163px;
  margin-top:-143px
}

.four{
  margin-left: -81px;
}

.five{
  margin-left:81px;
  margin-top: -141px
}

.hex-img{
  left:0;
  right:0;
  position: absolute;
  z-index:2;
  width:50px;
  top:15px;
  margin:auto;
}

/*******************************/
/**********--MODALS--***********/
/*******************************/

.modal-dialog {
  width: 750px;
  margin-top: 100px
}

.modal-content{
  background-color: #8b8b8b
}

.modal-header, .modal-footer{
  border:none;
}

.modal-title, .state{
  display: inline-block;
}

.close{
  font-size: 26pt
}

.setInput{
  border:none;
  border-bottom: solid 1px #696969;
  background-color: rgba(0,0,0,0);
}

.setInput:focus {
  outline:none;
}

.inline{
  display: inline-block;
}

#setPrefs{
  background-color: #696969;
  border:none;
  border-radius: 10px;
  padding: 7px;
}

/*******************************/
/********--HIVE HEALTH--********/
/*******************************/

#healthIndicator{
  width: 100px;
  height: 100px;
  background-color: black
}

#healthChart{
  width: 400px;
  margin:auto;
}

.teardropMain{
  -webkit-transition: box-shadow .2s; /* Safari */
  transition: box-shadow .2s;
  z-index: 5;
  position: relative;
  margin: 0px;
  display: inline-block;
  border: solid 3px #000;
  width: 200px;
  height: 200px;
}

.teardropMain:hover {
  -webkit-transition: box-shadow .2s; /* Safari */
  transition: box-shadow .2s;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,.8);
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,.8);
}

.teardropDynamic{
  -webkit-box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,.8);
  -moz-box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,.8);
  box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,.8);
  position: absolute;
  background-color: #f9c700;
  width: 100px;
  height: 100px;
}

.teardropTopLeft{
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.teardropTopRight{
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.teardropBottomLeft{
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px
}

.teardropBottomRight{
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.indicText{
  position: absolute;
  width:120px;
  left:0;
  right:0;
  margin:auto;
  display:none;
}

.textTop{
  margin-top: 70px;
}

.textBottom{
  margin-top: 50px;
}

/*******************************/
/**********--EXTRA--************/
/*******************************/

#connectivity{
  position: absolute;
  left:0;
  bottom:0;
  padding: 10px;
}


