body {
  background-color: #342e1f;
  font: 14px Monospace;
}

a {
  color: #00B7FF;
}

.hexagon {
  z-index: 1;
  position: relative;
  width: 150px; 
  height: 86.60px;
  opacity: 1;
  background-color: #f9c700;
  margin: 55px 0
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid #f9c700;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #f9c700;
}

.hexagon:hover {
  /*opacity: .5;*/
  cursor: pointer
}

#hexagons {
  width: 150px;
  margin:auto;
  margin-top: 170px;
}

#hex-text{
  position: absolute;
  text-align: center;
  width: 150px;
  color: #fbd46b;
  font-weight:200;
  font-size: 16pt;
  top: 335px;
  /*display:none;*/
}

.one {
  margin-left:-81px;
}

.two{
  margin-left:81px;
  margin-top:-141px;
}

.three{
  margin-left:-163px;
}

.four{
  margin-left:163px;
  margin-top:-143px
}

.five{
  margin-left: -81px;
}

.six{
  margin-left:81px;
  margin-top: -141px
}

.hex-img{
  left:0;
  right:0;
  position: absolute;
  z-index:2;
  width:70px;
  margin:auto;
}

.modal-dialog {
  width: 750px;
  margin-top: 100px
}

