body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hexagon {
  z-index: 1;
  position: relative;
  width: 150px; 
  height: 86.60px;
  background-color: #f9d400;
  margin: 55px 0
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid #f9d400;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #f9d400;
}

.hexagon:hover {
  opacity: .5;
  cursor: pointer
}

#hexagons {
  width: 150px;
  margin:auto;
}

.l {
  margin-left:-39px;
}

.r{
  margin-left:39px;
}

.hex-img{
  left:0;
  right:0;
  position: absolute;
  z-index:2;
  width:70px;
  margin:auto;
}